---
interface Props {
	userName: string;
}
const { userName } = Astro.props;
const size = "25";
const color = '#fff';
const stroke = "2";
---
<aside class="sidebar">
	<section class="sidebar-elements">
		Logo
	</section>
	<section class="sidebar-elements">
		<ul>
			<li>
				<a href="/home">
					<svg 
						fill="none" 
						height={size}
						width={size}
						viewBox="0 0 24 24" 
					>
						<g stroke={color} stroke-width={stroke}>
							<path d="m8.99932 22-.25064-3.5089c-.13474-1.8865 1.35932-3.4911 3.25062-3.4911s3.3854 1.6046 3.2507 3.4911l-.2507 3.5089"/>
							<path d="m2.35139 13.2135c-.35302-2.2973-.52953-3.44587-.09522-4.46412.4343-1.01826 1.39786-1.71495 3.32497-3.10832l1.43985-1.04106c2.3973-1.73333 3.59591-2.6 4.97901-2.6s2.5817.86667 4.979 2.6l1.4399 1.04106c1.9271 1.39337 2.8906 2.09006 3.3249 3.10832.4343 1.01825.2578 2.16682-.0952 4.46412l-.301 1.9589c-.5005 3.2565-.7507 4.8848-1.9186 5.8562s-2.8753.9714-6.2902.9714h-2.2776c-3.41487 0-5.12229 0-6.2902-.9714s-1.41813-2.5997-1.91857-5.8562z" stroke-linejoin="round"/>
						</g>
					</svg>
					<span>Home</span>
				</a>
			</li>
			<li>
				<a href="/dashboard">
					<svg 
						fill="none" 
						height={size}
						width={size}
						viewBox="0 0 24 24" 
					>
						<g stroke={color} stroke-width={stroke}>
							<rect height="10" rx="2" width="8" x="2" y="2"/>
							<rect height="6" rx="2" width="8" x="2" y="16"/>
							<rect height="10" rx="2" width="8" x="14" y="12"/>
							<rect height="6" rx="2" width="8" x="14" y="2"/>
						</g>
					</svg>
					<span>Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/store">
					<svg 
						fill="none" 
						height={size}
						width={size}
						viewBox="0 0 24 24" 
					>
						<g stroke={color} stroke-width={stroke}>
							<g stroke-linecap="round">
								<path d="m8 16h7.2632c4.4876 0 5.1701-2.8192 5.9978-6.93092.2388-1.18597.3582-1.77895.0711-2.17401-.2871-.39507-.8374-.39507-1.938-.39507h-13.3941"/>
								<path d="m8 16-2.62127-12.48507c-.22258-.89034-1.02255-1.51493-1.94028-1.51493h-.93845"/>
								<path d="m8.88 16h-.41143c-1.36335 0-2.46857 1.1513-2.46857 2.5714 0 .2367.1842.4286.41143.4286h11.08857" stroke-linejoin="round"/>
							</g>
							<circle cx="10.5" cy="20.5" r="1.5"/>
							<circle cx="17.5" cy="20.5" r="1.5"/>
						</g>
					</svg>
					<span>Store</span>
				</a>
			</li>
			<li>
				<a href="/analytics">
					<svg 
						fill="none" 
						height={size}
						width={size}
						viewBox="0 0 24 24" 
					>
						<g stroke={color} stroke-width={stroke}>
							<g stroke-linecap="round">
								<path d="m7 17v-4"/>
								<path d="m12 17v-10"/>
								<path d="m17 17v-6"/>
							</g>
							<path d="m2.5 12c0-4.47834 0-6.71751 1.39124-8.10876 1.39125-1.39124 3.63042-1.39124 8.10876-1.39124 4.4783 0 6.7175 0 8.1088 1.39124 1.3912 1.39125 1.3912 3.63042 1.3912 8.10876 0 4.4783 0 6.7175-1.3912 8.1088-1.3913 1.3912-3.6305 1.3912-8.1088 1.3912-4.47834 0-6.71751 0-8.10876-1.3912-1.39124-1.3913-1.39124-3.6305-1.39124-8.1088z" stroke-linejoin="round"/>
						</g>
					</svg>
					<span>Analytics</span>
				</a>
			</li>
			<li>
				<a href="/wallet">
					<svg 
						fill="none" 
						height={size}
						width={size}
						viewBox="0 0 24 24" 
					>
						<g stroke={color} stroke-width={stroke}>
							<path d="m16 14c0 .8284.6716 1.5 1.5 1.5s1.5-.6716 1.5-1.5-.6716-1.5-1.5-1.5-1.5.6716-1.5 1.5z"/>
							<path d="m10 7h6c2.8284 0 4.2426 0 5.1213.87868s.8787 2.29292.8787 5.12132v2c0 2.8284 0 4.2426-.8787 5.1213s-2.2929.8787-5.1213.8787h-6c-3.77124 0-5.65685 0-6.82843-1.1716-1.17157-1.1715-1.17157-3.0572-1.17157-6.8284v-2c0-3.77124 0-5.65685 1.17157-6.82843 1.17158-1.17157 3.05719-1.17157 6.82843-1.17157h4c.93 0 1.395 0 1.7765.10222 1.0352.2774 1.8439 1.08605 2.1213 2.12132.1022.3815.1022.84649.1022 1.77646" stroke-linecap="round"/>
						</g>
					</svg>
					<span>Wallet</span>
				</a>
			</li>
			
		</ul>
	</section>
	<section class="sidebar-elements">
		<ul>
			<li>
				<a href="/">
					<svg 
						fill="none" 
						height={size}
						width={size}
						viewBox="0 0 24 24" 
					>

						<g stroke={color} stroke-width={stroke}>
							<path d="m6.57757 15.4816c-1.41477.8424-5.12421 2.5625-2.86491 4.715 1.10365 1.0514 2.33283 1.8034 3.87821 1.8034h8.81823c1.5454 0 2.7746-.752 3.8782-1.8034 2.2593-2.1525-1.4501-3.8726-2.8649-4.715-3.3176-1.9755-7.52721-1.9755-10.84483 0z" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="m16.5 6.5c0 2.48528-2.0147 4.5-4.5 4.5-2.48528 0-4.5-2.01472-4.5-4.5s2.01472-4.5 4.5-4.5c2.4853 0 4.5 2.01472 4.5 4.5z"/>
						</g>
					</svg>
					<span>{userName}</span>
				</a>
			</li>
			<li>
				<a href="/settings">
					<svg 
						fill="none" 
						height={size}
						width={size}
						viewBox="0 0 24 24" 
					>

						<g stroke={color} stroke-width={stroke}>
							<path d="m21.3175 7.14139-.4936-.8566c-.3733-.64783-.5599-.97174-.8775-1.10091-.3176-.12916-.6768-.02724-1.3951.1766l-1.2202.3437c-.4586.10576-.9398.04576-1.3585-.16939l-.3369-.19437c-.3591-.22999-.6353-.56909-.7882-.96768l-.3339-.99738c-.2196-.66002-.3294-.99003-.5908-1.17879-.2613-.18876-.6085-.18876-1.3029-.18876h-1.1148c-.6943 0-1.0415 0-1.3029.18876-.26135.18876-.37114.51877-.59071 1.17879l-.33396.99738c-.15288.39859-.42908.73769-.78816.96768l-.33688.19437c-.41875.21515-.8999.27515-1.35851.16939l-1.22023-.3437c-.71834-.20384-1.0775-.30576-1.39508-.1766-.31758.12917-.50422.45308-.87752 1.10091l-.49358.8566c-.34991.60725-.52487.91088-.49091 1.2341.03395.32322.26817.58369.7366 1.10463l1.03104 1.15268c.252.319.43091.875.43091 1.3749 0 .5001-.17885 1.0559-.43088 1.375l-1.03107 1.1527c-.46843.521-.70264.7814-.7366 1.1047-.03396.3232.141.6268.49091 1.234l.49357.8566c.37329.6478.55995.9718.87753 1.1009.31758.1292.67675.0273 1.3951-.1766l1.22017-.3437c.45869-.1058.93993-.0457 1.35873.1695l.33683.1944c.35901.23.63514.569.788.9676l.33399.9975c.21957.66.32936.99.59071 1.1788.2614.1887.6086.1887 1.3029.1887h1.1148c.6944 0 1.0416 0 1.3029-.1887.2614-.1888.3712-.5188.5908-1.1788l.334-.9975c.1528-.3986.4289-.7376.788-.9676l.3368-.1944c.4188-.2152.9-.2753 1.3587-.1695l1.2202.3437c.7183.2039 1.0775.3058 1.3951.1766.3176-.1291.5042-.4531.8775-1.1009l.4936-.8566c.3499-.6072.5248-.9108.4909-1.234-.034-.3233-.2682-.5837-.7366-1.1047l-1.0311-1.1527c-.252-.3191-.4309-.8749-.4309-1.375 0-.4999.179-1.0559.4309-1.3749l1.0311-1.15268c.4684-.52094.7026-.78141.7366-1.10463.0339-.32322-.141-.62685-.4909-1.2341z" stroke-linecap="round"/>
							<path d="m15.5195 12c0 1.933-1.567 3.5-3.5 3.5s-3.49997-1.567-3.49997-3.5 1.56697-3.5 3.49997-3.5 3.5 1.567 3.5 3.5z"/>
						</g>
					</svg>
					<span>Settings</span>
				</a>
			</li>
			<li>
				<a href="/">
					<svg 
						fill="none" 
						height={size}
						width={size}
						viewBox="0 0 24 24" 
					>
						<g stroke={color} stroke-linecap="round" stroke-width={stroke}>
							<path d="m15 17.625c-.0736 1.8519-1.6169 3.4244-3.6844 3.3738-.481-.0118-1.0755-.1794-2.26448-.5148-2.86151-.8072-5.34557-2.1637-5.94156-5.2025-.10956-.5585-.10956-1.1871-.10956-2.4442v-1.6746c0-1.25709 0-1.88565.10956-2.44424.59599-3.03881 3.08005-4.3953 5.94156-5.20243 1.18898-.33539 1.78348-.50308 2.26448-.51484 2.0675-.05058 3.6108 1.52188 3.6844 3.37382"/>
							<path d="m21 12h-11m11 0c0-.7002-1.9943-2.00847-2.5-2.5m2.5 2.5c0 .7002-1.9943 2.0085-2.5 2.5" stroke-linejoin="round"/>
						</g>
					</svg>
					<span>Log Out</span>
				</a>
			</li>
			
		</ul>
	</section>
	
</aside>
<style>

	.sidebar{
		background-color: #090909;
		padding: 2em 1em;
		height: 100%;
		
		display: grid;
		grid-template-rows: 2em 3fr 1fr;
		gap: 2em;
		color: white;
		border-radius: 2em;
		
	}
	li{
		margin: .5em auto;
	}
	li a{
		width: 100%;
		height: 100%;
		border-radius: 1em;
		padding: .5em;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	a span{
		margin-left: 1.5em;
	}

	li a:hover svg *{
		stroke: crimson;
	}
	li a:hover{
		color: crimson;
	}
</style>


