---
import Link from "@components/ui/Link.astro";
const { plan } = Astro.props;
const popularPlan = plan.popular ? "primary" : "secondary";
---
<section class:list={["pricing-card", popularPlan]}>
    <section class="pricing-name">
        {plan.name}
    </section>

    <!-- Price Plan -->
    <section class="mt-10 text-4xl text-start  font-bold text-white md:text-4xl">
        {
            plan.price && typeof plan.price === "object" 
            ? ( 
            <>
                <span class="text-3xl font-semibold text-white">$ </span>
                <span class="text-5xl font-extrabold tracking-tight text-white">{plan.price.monthly}</span>
                <span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400"> /month</span>
            </>)
            : (
                <span class="text-5xl font-extrabold tracking-tight">{plan.price}</span>
            )
        }
    </section>  

    <p class="text-2xs text-start mt-2 text-white">
        {plan.info}
    </p>

    <!-- Price Features -->
    <ul class="grid mt-8 text-left gap-y-4">
        {
            plan.features.map((item : any) => (
            <li class="flex items-center gap-3 ">
                <svg class="flex-shrink-0 w-4 h-4 text-white " aria-hidden="true"  fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                <p class="text-base text-white">{item}</p>
            </li>
            
            ))
        }
    </ul>
    <!-- Button -->
    <section class="flex mt-8">
        <Link
            href={plan.button.link || "#"}
            block
            style={plan.popular ? "primary" : "outline"}>
            {plan.button.text || "Get Started"}
        </Link>
    </section>
</section>

<style>
    .pricing-card{
        
        padding:1em 2em 2em;
        background: #090909;
        border-radius: 2em;
        box-shadow: 4px 0 15px black;
        transition: all .5s;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5em;
    }    
    .primary{
        transform: scale(1.1);     
        z-index: 10;
    }

    .primary::before{
        content: "";
        position: absolute;
        transform: scale(.3);  
        border-radius: 50%;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to right, #ff004caa, #3b82f6aa);
        filter: blur(10em);
        z-index: -1;
    }

    .secondary{
        z-index: 1;
    }
    .secondary::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(.4);
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #3b82f6, #ff004c);
        border-radius: 50%;
        filter: blur(10em);
        z-index: -1;
    }

    .pricing-name{
        width: 100%;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: linear-gradient(to right, #ff004c, #3b82f6);
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        box-shadow: 0 2px 15px black;
        position: absolute;
        top: 10%;
        left: 30%;
        transform: rotate(45deg);
    }

</style>